{% extends "AlumniPortal/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="row">
<div class="col-lg-12">
	<div id="flash-messages">
							</div>
	<div id="ph">
				<div class="page-header">
		<div class="page-header-links">
						</div>
				<h1 class="c1 color-font" title="About Us"><a href="">
		About Us</a>
		<span class="hidden-xs hidden-sm"></span>
		</h1>
		</div>
					</div>
		<div class="row no-pad content-box-innner border-top color-border c1">
		<div id="sl" class="col-md-12">
					</div>
		<div id="sc" class="col-md-12">
						<div class="visible-lg visible-md"><div id="nav-user-page">
	</div></div>		</div>
		<div id="dc" class="col-md-10 col-md-push-1">
			<div class="row no-pad">
				<div id="ch" class="col-md-12">
									</div>
			</div>
			<div class="row no-pad">
				<div id="ic" class="col-md-12">
									</div>
				<div id="cc" class="col-md-12">
										<div class="post">
<p style="text-align: justify;">Established in <strong>2018</strong> by the joint efforts of faculty and students of <strong>IIIT Vadodara</strong>, a network which aims at strengthening the bond of alumni with the current scholars, faculty and the campus. The body now runs with the support of alumni all across the globe. Dynamically changing and rapidly growing, the community has brought diverse transformations for the community and anticipates in manifolds its attempts with time.</p>
<h3 style="text-align: justify;">Objectives:</h3>
<ul>
<li style="text-align: justify;">The mission of <strong>Alumni Association</strong> is to provide a platform to connect the alumni and the alma mater in a synergetic relationship:</li>
<ul>
<li>To engage the alumni to proffer supervision to lead the organization forward</li>
<li>To ensure the institute’s core values and missions.</li>
<li>To provide an environment for fund raising activities.</li>
<li>To launch initiatives for inter and intra-networking among the alumni and the alma mater.</li>
<li>Institutional brand building.</li>
<li>To connect and celebrate the achievements of the alumni, faculty, staff and students</li>
<li>Provide active support and guidance through mentorship programs.</li>
</ul>
</ul>
<ul>
<li><strong>Alumni Affairs Committee <br></strong></li>
<ul>
<li><strong><a href="#" target="_blank">Past Committee</a></strong></li>
</ul>
<ul>
<li>Dr. ABC <strong>[Chair]</strong></li>
<li>Dr. DEF <strong>[Past Chair]</strong></li>
<li>Dr. GHI <strong>[Co-Chair]</strong></li>
</ul>
<ul>
<li>Dr. JKL <strong>[Member]</strong></li>
<li>Ms. MNO <strong>[ Member Convener]</strong></li>
</ul>
</ul>
<h3>Alumni Cell:</h3>
<p><strong><a href="#" target="_blank">Past members</a></strong></p>
<p><strong>Current members:</strong></p>
<ul>
<li><strong>Coordinator</strong></li>
</ul>
<ul>
<ul>
<li><a href="#">PQR</a></li>
</ul>
</ul>
<ul>
<li><strong>Department Representatives Team</strong></li>
</ul>
<ul>
<ul>
<li><strong><a href="#">STU</a></strong></li>
<li>Anirudh Dahiya</li>
<li><a href="#">VWX</a></li>
</ul>
</ul>
<ul>
<li><strong>Logistics</strong>&nbsp;&nbsp;
<ul>
<li><strong><a href="#">ZYX</a></strong></li>
<li><a href="#">VUT</a></li>
<li>SRQ</li>
</ul>
</li>
</ul>
<ul>
<li><strong>Public Relations and Reports</strong>
<ul>
<li><strong><a href="#" target="_blank">PON</a></strong></li>
<li><span style="font-weight: 400;">MLK</span></li>
<li><span style="font-weight: 400;">JIH</span></li>
</ul>
</li>
<li><strong>Social Media and Outreach</strong>
<ul>
<li><strong><a href="#">GFE</a></strong></li>
<li><a href="#">DCB</a></li>
<li>AZY</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p><strong>Note:</strong> In bolds - POCs for the respective teams.</p></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}